*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    
}

body{
   overflow-x: hidden;
    
}


.about{
    display: flex;
    flex-direction: column;
}
.line{
    height: 3px;
    width: 60px;
    background-color: rgb(200, 54, 134);
    border-radius: 10px;
    margin-left: 10px;

}
.header_home{
    height: 11vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.486) url('https://cdn.pixabay.com/photo/2015/07/19/10/00/school-work-851328_960_720.jpg');
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 8vh;
}

.list{
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    list-style: none;
    background:transparent;
    
}
li{
    margin: 10px;
    font-size: 20px;
    
}
a{
    text-decoration: none;
    color: #db4bd6;
}
a:hover{
    color: #ffffff;
}
.img1{
    height: 65px;
    width: 65px;
    margin-top: 20px;
    border-radius: 50px;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px ;
}
.line1{
    height: 3px;
    width: 100px;
    background-color: rgb(200, 54, 134);
    border-radius: 10px;
    margin-left: 10px;
    margin: 20px;

}
.text >p{
    font-size: 23px;
}
.images{
    display: grid;
    width: 80%;
    padding-inline: 10%;
    margin-top: 50px;
    grid-template-columns: auto auto auto ;
}
.images >img{
    height: 250px;
    width: 400px;
}