* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
  }
  
  body {
    overflow-x: hidden;
  }
  
  .about {
    display: flex;
    flex-direction: column;
  }
  .line {
    height: 3px;
    width: 60px;
    background-color: rgb(200, 54, 134);
    border-radius: 10px;
    margin-left: 10px;
  }
  .header_home {
    height: 11vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.486)
      url("https://cdn.pixabay.com/photo/2015/07/19/10/00/school-work-851328_960_720.jpg");
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 8vh;
  }
  
  .list {
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    list-style: none;
    background: transparent;
  }
  li {
    margin: 10px;
    font-size: 20px;
  }
  a {
    text-decoration: none;
    color: #db4bd6;
  }
  a:hover {
    color: #ffffff;
  }
  .img1 {
    height: 65px;
    width: 65px;
    margin-top: 20px;
    border-radius: 50px;
  
  }
  .img{
    height: 70vh;
    width: 100vw;
}
.img > img{
    width: 100%;
    height: 100%;
}
.name{
    height: 70px;
    width: 100%;
    background-color: #333333;
    color: white;
    position: relative;
}
.name > h1{
    font-size: 35px;
    margin-left: 20px;
    position: absolute;
    bottom: 15px;
    
}
.block1{
    width: 100%;
    height: 200px;
    border: 2px solid black;
    display: flex;

}
.part1{
    overflow:auto;
    width: 33.33%;
    color: #0F1729;
    background-color: #A4B7C5;
}
